// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


:root {

--shadowinitial: 0px 3px 1px -2px rgba(0,0,0,0.2),
                     0px 2px 2px  0px rgba(0,0,0,0.14),
                     0px 1px 5px  0px rgba(0,0,0,0.12);

--shadowend:     0px 2px 4px -1px rgba(0,0,0,0.2),
                     0px 4px 5px  0px rgba(0,0,0,0.14),
                     0px 1px 10px 0px rgba(0,0,0,0.12);

}