.btn {
    font-family: $font-display;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: inline-block;
    width: 200px;
    padding: 1.8rem 3rem;
    cursor: pointer;
    color: $color-primary-dark;
    border: none;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
                color 0.2s ease-out;

        &:hover,
        &:active {
                  background-color: $color-primary-dark;
                  transition: background-color 0.3s ease-in,
                   color 0.3s ease-in;
                  color: white;
                }

  }
  